body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f8fa;
    color: #2c3e50;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 3.7rem;
    /* or another desired value */
}

h2 {
    font-size: 2rem;
    /* or another desired value */
}


h1,
h2,
h3,
header p {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    /* Poppins bold for headings */
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

main {
    flex: 1;
    min-width: 450px;
    max-width: 900px;
    margin: 2rem auto;
    padding: 1.5rem;
    background-color: #ecf0f1;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    border-radius: 15px;
    background-color: #e8eaea;
    padding: 1.5rem;
}

.input-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

input[type="text"] {
    padding: 0.7rem 1.2rem;
    border: 1px solid #bdc3c7;
    border-radius: 10px;
    width: 70%;
}

button {
    padding: 0.7rem 1.2rem;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

.output-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.output-wrapper>button {
    padding: 1.2rem 0.9rem;
}

button>span {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

#detailed-output {
    display: none;

    flex-direction: column;
    
}

#detailed-output #back {
    margin-left: auto;
    margin-right: 0;
    
    padding: 0.5rem 1.2rem;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#detailed-output #back:hover {
    background-color: #2980b9;
}

#detailed-output #download {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    display: none;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;

    display: none;

    margin: 10px auto;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#detailed-error-message {
    margin: 10px auto;

    color: red;
    font-size: 0.9em; 
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}


footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #3498db;
    color: #fff;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

footer a {
    color: #fff;

    text-decoration: underline;
    text-decoration-color: white;
}

footer a:hover {
    text-decoration: underline;
}