<div class="canonical-container">
    <div class="canonical-item">
        <span class="canonical-label">SoP: </span>
        <span class="canonical-value" id="sop"> {{ canonicalSoP }}</span>
    </div>
    <div class="canonical-item">
        <span class="canonical-label">PoS: </span>
        <span class="canonical-value" id="pos"> {{ canonicalPoS }}</span>
    </div>
</div>

<style>
    .canonical-container {
        padding: 25px;
        border-radius: 10px;
        width: 90%;
        margin: auto;
        background-color: #f9f9f9;
        border: 1px solid #e1e1e1;

        overflow: scroll;
    }

    .canonical-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
        border-bottom: 1px solid #e1e1e1;
        padding-bottom: 10px;
    }

    .canonical-item:last-child {
        border-bottom: none;
    }

    .canonical-label {
        color: #333;
        font-weight: 500;
        font-size: 16px;

        margin: 0 10px;
    }

    .canonical-value {
        color: #3498db;
        font-weight: 600;
        font-size: 16px;

        text-wrap: nowrap;
        letter-spacing: 2px;
    }
</style>