<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlphaLogos - Boolean Function Analyzer</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/script.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">    
</head>

<body>

    <header>
        <h1>AlphaLogos</h1>
        <h3>Boolean Function Analyzer and Synthesis Optimization Tool</h3>
    </header>

    <main>
        <!-- Input Section -->
        <section class="input-section" id="inputSection">
            <h2>Enter Boolean Function</h2>
            <div class="input-wrapper">
                <input type="text" id="booleanFunction" placeholder="e.g. abc + a’b’c">
                <button id="analyzeFunction">Analyze</button>
            </div>
            <div id="validationMessage" style="padding:10px; color: red; font-size: 0.9em;"></div>
        </section>

        <!-- Display Section -->
        <section id="outputSection">
            <div class="output-wrapper" id="output-options">
                <Button id="truthTable">
                    <span>Truth Table</span>
                </Button>
                <Button id="canonicalForms">
                    <span>Canonical Forms</span>
                </Button>
                <Button id="primeImplicants">
                    <span>Prime Implicants</span>
                </Button>
                <Button id="essentialPis">
                    <span>Essential Prime Implicants</span>
                </Button>
                <Button id="uncoveredMinterms">
                    <span>Uncovered Minterms</span>
                </Button>
                <Button id="minimizedExpression">
                    <span>Minimized Expression</span>
                </Button>
                <Button id="kMap">
                    <span>Karnaugh Map</span>
                </Button>
                <Button id="logicCircuit">
                    <span>Logic Circuit</span>
                </Button>
            </div>

            <div class="output-wrapper" id="detailed-output">
                <h3 id="output-title">
                </h3>

                <div class="output-details-buttons">
                    <Button id="back">
                        <span>Back</span>
                    </Button>

                    <Button id="download">
                        <span>Download</span>
                    </Button>
                </div>

                <div class="loader" id="loader"></div>

                <div id="detailed-error-message"></div>

                <div id="output">

                </div>

            </div>
        </section>
    </main>

    <footer>
        <p>    
            © 2023 <a href="https://github.com/ahmed-alllam/AlphaLogos" target="_blank">AlphaLogos</a>
        <br/>
        Created by <a href="https://github.com/ahmed-alllam" target="_blank">Allam</a>, 
        
        <a href="https://github.com/MohamedEbrahem1" target="_blank"> Abdelmagid</a>, and
        
        <a href="https://github.com/Hamdy1337" target="_blank"> Mansour</a>.
        
        <br/>
        Under the supervision of 
        
            <a href="https://www.aucegypt.edu/fac/mohamedshalan" target="_blank">Prof. Dr. Mohamed Shalan</a>.
            
        </p>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js" integrity="sha512-01CJ9/g7e8cUmY0DFTMcUw/ikS799FHiOA0eyHsUWfOetgbx/t6oV4otQ5zXKQyIrQGTHSmRVPIgrgLcZi/WMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://tilk.github.io/digitaljs/main.js" type="text/javascript"></script>
</body>

</html>
