<div class="minterms-container">
    <div class="minterms-item">
        <span class="minterms-label">Uncovered Minterms: </span>
        <span class="minterms-value">&nbsp; {{ uncoveredMinterms }}</span>
    </div>
</div>

<style>
    .minterms-container {
        padding: 25px;
        border-radius: 10px;
        width: 90%;
        margin: auto;
        background-color: #f9f9f9;
        border: 1px solid #e1e1e1;

        overflow: scroll;
    }

    .minterms-item {
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
        margin-top: 15px;
        border-bottom: 1px solid #e1e1e1;
        padding-bottom: 10px;
    }

    .minterms-label {
        color: #333;
        font-weight: 500;
        font-size: 16px;

        margin: 0 10px;

        text-wrap: nowrap;
        white-space: nowrap;
    }

    .minterms-value {
        color: #3498db;
        font-weight: 600;
        font-size: 16px;

        text-wrap: nowrap;
        white-space: nowrap;
        letter-spacing: 2px;

        padding-right: 15px;
    }
</style>